/* Adding font "opensans" for use globally */
@font-face {
  font-family: opensans;
  src: url('OpenSans-Regular.ttf');
}

/* Adding color variables for use across style sheet */
:root {
  --bg_color: #222222;
  --main_font_color: #FFE9C1;
  --highlight_color: #FF3434;
  --input_bg_color: #2C2C2C;
  --subscript_color: #FFC1C1;
}

/* Global style for all elements, applies background color for entire page, base color for most text elements,
aligns all elements to center and applies font globally */
* {
  background-color: var(--bg_color);
  color: var(--main_font_color);
  text-align: center;
  font-family: opensans;
}

/* Styles heading "Necromancing the Stone" to be largest text on page @40px and sets line height lower to 
create unified heading block with sub-heading (h3) */
h1 {
  font-size: 36px;
  margin: 0;
}

/* Much the same as above, though smaller font to give off appearance of being a subheading */
h3 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 5px;
}

/* Main class for primary content, i.e. "Please enter your value here etc" */
div.content {
  line-height: 20px;
  font-size: 16px;
}

/* Creates spacing between labels and input */
label {
  line-height: 20px;
}

/* Formats the input area with bg color, rounded edges and padding */
input {
  margin: 0;
  border-color: var(--main_font_color);
  border-style: solid;
  background-color: #2c2c2c;
  border-radius: 10px;
  padding: 1%;
}

/* Disables gross focus on input that ruins the A E S T H E T I C */
input:focus {
  outline: none;
}

/* Disables spin wheel buttons on number input for all browsers except firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disables spin wheel buttons for number input on firefox */
input[type=number] {
  appearance: textfield;
}

/* Sets size of input text font to disable auto-focus on mobile browsers (autofocus occurs when
text font size is 11px or less) */
input[type=number],
textarea {
  font-size: 16px;
}

a {
  font-style: italic;
}

hr {
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--main_font_color);
}

/* Legacy class, leaving in case I want to use it again ever */
span.subscript {
  color: var(--subscript_color);
  font-size: 12px;
}

/* Highlights number values in return string from js (used in calc.js) */
span.highlight {
  font-weight: bold;
  color: var(--highlight_color);
}

/* Fixes footer to bottom of screen */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Formats footer text */
p.footer {
  font-size: 12px;
  color: #f6dcacb8;
  font-style: italic;
}